<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <style>
        #map{
            width: 100%;
            height: 620px;
            background-color:#212327;
        }
    </style>
    <%- include("partials/header") -%>
</head>
<body>
    <div id='map'></div>    
</body>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibmVlbGFiaCIsImEiOiJja3JkN3RrejQ0dDg5MndueG53aWM2bXV3In0.Sg379L0dxNdhm-ULUyboow';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    zoom: 1.5,
    center: [0,30]
  });
</script>
<script src="/scripts/global.js"></script>
<%- include("partials/footer") -%>
</html>

